# build output
dist/
.output/

# dependencies
node_modules/

# astro generated types & cache
.astro/

# environment
.env
.env.*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
